*.pyc
*.swp
media/
admin/
development.py
run.sh
*.log
*~
*.crt
*.key
*migrations/
nagain_v5/static/
update.sh
*.swo
tempdir/
.project
.pydevproject
.settings/
*.swo
.tdog.dbg
production.py
*.scssc
error.log
.settings/
sourceCode/
sourceCodeReprot/
.idea/
.sample
classes-error.zip
